.footer {
  // border-top: 2px solid silver;
  max-width: 500px;
  width: 100%;
  height: 50px;
  .theme-style();
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
  }
}
