.banner {
  margin-bottom: 15px;
  background-image: url(/Assets/Images/rugby-jump.jpg);
  height: 80vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  h1 {
    align-content: center;
  }
  .header {
    max-width: 500px;
    width: 100%;
    // height: 75px;
    // .theme-style();
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    @media @desktop {
      .desktop-format();
    }

    .menu-button {
      max-width: 10%;
      height: auto;
      @media @desktop {
        max-width: 6%;
      }
    }

    .logo {
      margin: 0;
      margin-right: 2rem;
      // font-family:
      font-size: 4rem;
      text-decoration: none;
      color: @main-color;
    }
  }
}
