.main-content-container {
  display: flex;
  width: 95%;
  align-items: center;
  flex-direction: column;
  margin: auto;

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 95%;
    h2 {
      margin-bottom: 2rem;
      text-align: center;
      line-height: 4rem;
    }
  }

  .main-p {
    width: 90%;
    margin: auto;
  }
  .login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 3rem auto;
    width: 95%;
    .buttons-container {
      display: flex;
      flex-direction: column;
      @media @desktop {
        flex-direction: row;
      }
      button {
        .custom-button();
      }
    }
  }
  .workouts .main-p {
    margin-bottom: 3rem;
  }
}
