// Color and font style mixins
.theme-style {
  background-color: @main-color;
  color: @secondary-color;
}

// Mobile & Desktop Styling

.mobile-format {
  width: 95%;
  align-content: center;
  justify-content: center;
  margin: 10px auto;
}

.desktop-format {
  width: 100%;
  max-width: 1024px;
}

// Banner style

// Button Style Mixins
.custom-button(@width, @height) {
  width: @width;
  height: @height;
  color: @main-bg;
  font-size: 1.7rem;
  text-align: center;
  background-color: @button-bg;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: @button-bg;
    border: 1px solid black;
  }
}
